name: Run integration tests

on:
  workflow_dispatch:
  push:
    branches: [ develop ]
    paths-ignore: 
      - '**.md'
      - '.config/**'
      - '.github/**'
      - '.idea/**'
      - 'assets/**'
  pull_request:
    branches: [ develop ]
    paths-ignore: 
      - '**.md'
      - '.config/**'
      - '.github/**'
      - '.idea/**'
      - 'assets/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  run-integration-tests:
    strategy:
      fail-fast: false
      matrix:
        java: [21]
        project: [persistence-it, webapp-it]
        parallel: [0, 2]
        pre-start: [false, true]
    runs-on: ubuntu-latest
    if: ${{ !(github.event_name == 'pull_request' && startsWith(github.head_ref, 'renovate/')) }}
    steps:
    - uses: actions/checkout@v6

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: ${{ matrix.java }}

    - name: Cache Maven
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-mvn-it-build-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-mvn-it-build-
          ${{ runner.os }}-mvn-build-

    - name: Test
      run: |
        ./mvnw -B test \
        -pl "advanced-demo/integration-tests/${{ matrix.project }}" -am \
        -P run-it \
        ${{ matrix.pre-start && '-Dinfra-pre-start.enabled=1 ' || '' }} \
        ${{ matrix.parallel > 0 && format('-Djunit.jupiter.execution.parallel.enabled=true -Djunit.jupiter.execution.parallel.mode.default=concurrent -Djunit.jupiter.execution.parallel.mode.classes.default=concurrent -Djunit.jupiter.execution.parallel.config.strategy=fixed -Djunit.jupiter.execution.parallel.config.fixed.parallelism=2 -Djunit.jupiter.execution.parallel.config.fixed.max-pool-size={0} ', matrix.parallel) || '' }}

    # Replace '/' with '-'
    - name: Normalize project name
      if: failure()
      env:
        PROJECT: ${{ matrix.project }}
      run: echo PROJECT_NORMALIZED=${PROJECT/\//-} >> $GITHUB_ENV

    - name: Upload videos of test failures
      if: failure()
      uses: actions/upload-artifact@v6
      with:
        name: test-fail-videos-${{ matrix.java }}-${{ env.PROJECT_NORMALIZED }}-${{ matrix.parallel }}-${{ matrix.pre-start }}
        path: advanced-demo/integration-tests/${{ matrix.project }}/target/records
        if-no-files-found: ignore
